body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

    body {
      background: radial-gradient(circle, red, yellow, lime, cyan);
      color: black;
      font-family: Comic Sans MS;
      font-size: 20px;
    }

    .dog-img {
      width: 100%;
      border: 10px dashed purple;
      animation: spin 4s infinite linear;
    }


    button {
      margin: 1000px;
      font-size: 2em;
    }
